:root {
    --primary-color: #24A19C; 
    --primary-color-hover: #6EBFB5; 
    --secondary-color: #FF5F40; 
    --secondary-color-hover: #FF6F53;
    --third-color: #FFC7C7;
    --titles-color: #373737;
    --text-color: #717171; 
    --line-color: #D2D2D2; 
}

* {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}

body {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: white;
    
    
}
#main-header {
    position: relative;
    background-color: white;
    height: 76px;
    width: auto;
    display: flex;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    padding-left: 24px;
    padding-right: 24px;
}
.h-container {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 12px;
    /* Default behavior (for larger screens) */
    overflow-x: hidden;
}

/* Media query for small screens and below */
@media (max-width: 640px) {
    .h-container {
        overflow-x: scroll; /* Enable horizontal scrolling */
    }
}

#header-logo {
}
#header-logo a {}
#header-logo a img {
    height: 48px;
}
.logo-desktop {
    display: block;
}
.logo-mobile {
    display: none;
}
#header-categories-button {

}
.header-categories-button-button {
    border-radius: 4px;
    border: 1px solid var(--line-color);
    background: #FFF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    column-gap: 8px;
    font-size: 14px;
}
.header-filter-button-button {
    border-radius: 4px;
    border: 1px solid var(--line-color);
    background: #FFF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    column-gap: 8px;
    font-size: 14px;
}

.header-categories-button-button:hover, 
.header-categories-button-button:focus, 
.header-categories-button-button:active {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
.header-categories-button-button-active {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    color:white;
    column-gap: 8px;
}
.header-filter-button-button:active {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
.header-filter-button-button-active {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    color:white;
    column-gap: 8px;
}
.header-categories-button-button-active:hover, 
.header-categories-button-button-active:focus, 
.header-categories-button-button-active:active {
    border: 1px solid var(--primary-color-hover);
    background-color: var(--primary-color-hover);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
#header-categories-button-button-img {
}

#header-categories-dropdown-menu {
    position: absolute;
    display: none;
    background-color: white;
    width: calc( 100% - 48px );
    height: auto;
    top: 78px;
    z-index: 50;

    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
#header-filter-dropdown-menu {
    position: absolute;
    display: none;
    background-color: white;
    width: calc( 100% - 48px );
    height: auto;
    top: 78px;
    z-index: 50;

    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
#header-search-dropdown-menu {
    position: absolute;
    display: none;
    background-color: white;
    width: calc( 100% - 48px );
    height: 80px;
    top: 78px;
    z-index: 50;

    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
#header-regions-dropdown-menu {
    position: absolute;
    display: none;
    background-color: white;
    left:27%;
    height: 80px;
    width:30%;
   overflow-y: scroll;
    top: 100%;
    z-index: 50;
    padding:10px;

    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
#header-regions-dropdown-menu::-webkit-scrollbar {
    width: 8px;
  }
  
  #header-regions-dropdown-menu::-webkit-scrollbar-track {
    background-color: #dddddd;
  }
  
  #header-regions-dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #888888;
  }
.header-categories-dropdown-menu-items {
    margin: 48px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 36px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."; 
}
.header-categories-dropdown-menu-item {
    display: flex;
    color: var(--text-color);
    text-decoration: none;
    column-gap: 16px;
}
.header-categories-dropdown-menu-item:hover, 
.header-categories-dropdown-menu-item:focus, 
.header-categories-dropdown-menu-item:active, 
.header-categories-dropdown-menu-item:visited {
    color: var(--titles-color);
    scale: 1.02;
}
.header-categories-dropdown-menu-item img {
    width: 16px;
    height: 16px;
    line-height: 0%;
    
    
}
.header-categories-dropdown-menu-item h3 {
    font-size: 14px;
    font-weight: normal;
}

#header-search {
    flex: 1;
    flex-direction: row;
}
#header-search form {
    display: flex;
    flex-direction: row;
}
#header-search-location-btn {
    border-radius: 4px 0px 0px 4px;
    border: 1px solid var(--line-color);
    background: #FFF;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-search-location-btn img {
    width: 24px;
    height: 24px;
}
#header-search-input {
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    border-left: none;
    border-right: none;
    background: #fefefe;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    flex: 1;
}
#header-search-input:focus,
#header-search-input:active {
    outline: none;
    background-color: white;
}
#header-search-submit {
    border-radius: 0px 4px 4px 0px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-search-icon-mobile {
    border-radius: 4px;
    border: 1px solid var(--line-color);
    background: white;
    height: 48px;
    width: 48px;
    display: none;
    justify-content: center;
    align-items: center;
}
#header-filter {
    margin-right: 24px;
}
#header-filter button {
    border-radius: 4px;
    border: 1px solid white; 
    background: #FFF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
#header-filter button img {
    margin-right: 6px;
    width: 24px;
    height: 24px;
}
#header-user {
    display: flex;
    flex-direction: column;
    height: 48px;
    align-items: center;
}
#header-authenticated-user {
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
     column-gap: 24px;
    height: 48px;
}
@media (min-width: 768px) {
    #footer-create-add-button{
display: none !important;
    }
    #header-authenticated-user {
        column-gap: 24px !important; 
    }
}
.header-authenticated-user-content {
    background-color: greenyellow;
}
.notification-dropdown {
    width: 240px;
}
.notification-dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    padding: 8px 4px;
}
.notification-dropdown-item-last-child {
    border-bottom:none;
}
.notification-dropdown-item-image {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: start;
    display: flex;
}
.notification-dropdown-item-image img {
    width: 24px;
    height: 24px;
}
.notification-dropdown-item-content {
    flex: 1;
}
.notification-dropdown-item-content a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 13px;
}
.notification-dropdown-item:hover {
    background-color: #fcfcfc;
}
.notification-dropdown-item-content a b {
    color: var(--titles-color);
}
.notification-dropdown-item-content a span {
    color: var(--text-color);
    font-weight: normal;
}
.notification-dropdown-item-content a strong {
    color: var(--primary-color);
    font-weight: normal;
}
#header-user-notification-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/bell-icon.svg);
    position: relative;
    cursor: pointer;
}
#header-user-notification-icon:hover {
    background-image: url(../images/bell-icon-active.svg);
}
.header-user-notification-icon-notified {
    position: absolute;
    left: 14px;
    top: -4px;
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}
#header-user-messages-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    background-image: url(../images/mail-icon.svg);
}
#header-user-messages-icon:hover {
    background-image: url(../images/mail-icon-active.svg);
}
.header-user-messages-icon-newmessages {
    position: absolute;
    left: 18px;
    top: -4px;
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}
#header-contest-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    background-image: url(../images/contest-icon.png);
}

#header-user-avatar-icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-right: 12px;
}
.header-user-avatar-icon-img {
    width: 36px;
    height: 36px;
    margin: 0 0 12px 0;
}
.header-user-avatar-dropdown {
    width: 200px;
}
.header-user-avatar-dropdown-item {
    font-size: 14px;
    color: var(--titles-color);
    padding: 8px 16px;
    display: block;
    text-decoration: none;
}
.header-user-avatar-dropdown-item:hover,
.header-user-avatar-dropdown-item:focus,
.header-user-avatar-dropdown-item:active,
.header-user-avatar-dropdown-item:visited {
    background-color: #fafafa;
}
.header-user-avatar-dropdown-item img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    display: inline;
}
#header-guest-user {
    height: 48px;
    align-items: center;
}
.header-guest-user-content {
    height: 36px;
    display: flex;
    cursor: pointer;
    column-gap: 24px;
}
.header-guest-user-btn {
    /* display:none; */
    border-radius: 4px;
    border: 1px solid #ffffff;
    background: #FFF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    
}
.header-guest-user-btn img {
    /* display:none; */
    display: inline;
    margin-right: 8px;
}
#header-create-add-button {

}
#footer-create-add-button a {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    text-decoration: none;
    width: 100%;
    position: fixed;
   
    bottom: 0;
    
    z-index: 100;  
}
#goToOffer{
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    z-index: 100;
    padding: 10 px;  
}
#header-create-add-button a {
    display: none;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    height: 48px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    text-decoration: none;
    
}
#header-create-add-button a:hover {
    border: 1px solid #28b2ad;
    background: #28b2ad;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
#footer-create-add-button a:hover {
    border: 1px solid #28b2ad;
    background: #28b2ad;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
.header-create-add-button-img {
    border-right: 1px solid var(--primary-color-hover);
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6px;
}
.footer-create-add-button-img {
    border-right: 1px solid var(--primary-color-hover);
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6px;
}
.header-create-add-button-span {
    font-weight:600;
    text-transform: uppercase;
    text-align: start;
    padding-left: 12px;
    padding-right: 24px;
    line-height: 16px;
    font-size: 14px;
    display: block;
    
}
.footer-create-add-button-span {
    font-weight:600;
    text-transform: uppercase;
    text-align: start;
    padding-left: 12px;
    padding-right: 24px;
    line-height: 16px;
    font-size: 14px;
    display: block;
    
}

/* Footer  */
#main-footer {
    margin-top: 72px;
    background-color: #24a19c;
}
.footer-content {
    border-top: 1px solid var(--line-color);
    padding-top: 48px;
    padding-bottom: 48px;
}
.footer-content-infos {
    margin-right: 24px;
}
.footer-logo {
    height: 48px;
    display: block;
    margin-bottom: 24px;
}
.footer-content-infos span {
    color: #FFF;
    font-size: 14px;
    margin-right: 48px;
}
.footer-content-infos ul {
    list-style: none;
    margin-top: 12px;
}
.footer-content-infos ul li {
    margin-left: -32px;
}
.footer-content-infos ul li span {
    margin: auto 0;
}
.footer-content-infos ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
}
.footer-content-infos ul li a:hover {
    color: var(--primary-color);
}
.footer-socialmedias {}
.footer-socialmedias-icon {}
.footer-socialmedias-icon-facebook {}
.footer-socialmedias-icon-x {}
.footer-socialmedias-icon-youtube {}
.footer-socialmedias-icon-linkedin {}
.footer-content-links {}
.footer-content-links h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer-content-links nav {}
.footer-content-links nav ul {
    list-style: none;
}
.footer-content-links nav ul li {
    margin-left: -32px;
    margin-bottom: 8px;
}
.footer-content-links nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
}
.footer-content-links nav ul li a:hover {
    color: #fff;
}
.footer-content-links-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 48px;

}
.footer-copyright {
    border-top: 1px solid #24a19c  ;
    height: 72px;
}
.footer-copyright-content {
    height: 72px;
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-copyright-text {
    height: 72x;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.footer-copyright-text a {
    margin-left: 4px;
    color: #FFF;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}
.footer-copyright-text a:hover {
    color: var(--primary-color);
}
.footer-links {
    height: 72px;
    display: flex;
    align-items: center;
}
.footer-links ul {
    height: 72px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.footer-links ul li {
    display: inline-block;
    font-size: 14px;
}
.footer-links ul li a {
    margin-left: 12px;
    color: #FFF;
    text-decoration: none;
}
.footer-links ul li a:hover {
    color: var(--primary-color);
}

/* Offers style */

.offer_list_card {
    border: var(--line-color);
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: 2px solid #e8eaed;
    border-radius: 10px;
    margin: 14px 0;
}

.offer_image {
    display: flex;
    /* width: 33%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px 0 0 10px;
}


.offer_details {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.offer_title{
    color: #191f33;
    padding: 12px 24px;  
}
.offer_title a {
    text-decoration: none;
}

.offer_title h2{
    font-size: 28px;
}

.offer_category{
    display: flex;
    padding: 12px 24px;
    column-gap: 16px;
}

.offer_category_item{
    display: inline-block;
}

.offer_category_item img{
    display: inline-flex;
    margin-top: -6px;
    width: 18px;
    height: 18px;
}

.offer_category_item p{
    display: inline-flex;
    color: #686590;
}

.offer_preposition{
    color: #5a5a5a;
    padding: 12px 24px;
}

.offer_preposition h4{
    font-size: 18px;
}

.offer_preposition p{
    padding: 0 12px;
}

.offer_localisation_price{
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
}

.offer_localisation{
    height: 24px;
    column-gap: 4px;
    display: flex;
    color: #7a8297;
}

.offer_price{
    display: flex;
    column-gap: 24px;
    height: 24px;
    align-items: center;
    color: #615e8b;
}

.offer_autorisation{
    padding: 0 10px 0 5px;
    display: flex;
    height: 24px;
    column-gap: 4px;
    background-color: #fff1ee;
    border-radius: 10px;
    color: #ff6445;
}


.offer_countdown{
    padding: 12px 24px;
    border-top: 2px solid #e8eaed;
}

.offer_countdown_container{
    display: flex;
    column-gap: 6px;
    justify-content: space-between;
    text-align: center;
}

.offer_countdown_containers{
    flex: 1;
    display: inline-block;
    color: #6e6b95;
}

.offer_countdown_containers_counter{
    height: 64px;
    background-color: #6ebfb5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: #f1f0ff;
}

.offer_owner{
    border-top: 2px solid #e8eaed;
    height: 64px;
    padding: 12px 24px;
}

.offer_owner_content{
    height: 36px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
.offer_owner_content_avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.offer_owner_content_infos{
    display: flex;
    flex-direction: column;
}
.offer_owner_content_infos_name{
    display: flex;
    flex-direction: row;
    height: 18px;
    column-gap: 12px;
    color: #565c6e;
}

.offer_owner_content_infos_name h3{
    font-size: 14px;
}
                                          
.offer_owner_content_infos_pro_badge{
    border-radius: 10px;
    font-size: 14px;
    display: inline-flex;
    column-gap: 6px;
    background-color: #d3ece9;
    color: var(--primary-color-hover);
    padding: 2px 6px;
    align-items: center;
}

.offer_owner_content_infos_pro_badge p{
    margin-top: 14px;
}

.offer_owner_content_infos_pro_badge img{
    height: 18px;
    width: 18px;
    display: inline-flex;
}
.offer_owner_content_infos_status{
    font-size: 14px;
    height: 18px;

}

.button-filter {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    text-decoration: none;
    
}
.reject {
    border-radius: 4px;
    border: 1px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    text-decoration: none;
    
}
#button-filter:hover {
    border: 1px solid #28b2ad;
    background: #28b2ad;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}                           
#filter {
    border-radius: 4px;
    min-width: 120px ;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    margin-left:10px;
    
}
#filter:hover {
    border: 1px solid #28b2ad;
    background: #28b2ad;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}    

input[type="radio"] {
    --s: 1.25em;     /* control the size */
    --c: var(--primary-color);
    
    height: var(--s);
    width: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/12) solid #939393;
    padding: calc(var(--s)/6);
    background: 
        radial-gradient(farthest-side,var(--c) 94%,#0000) 
        50%/0 0 no-repeat content-box;
        -radius: 50%;
    outline-offset: calc(var(--s)/10);
    color: --c;
    background-image:none;
    
}
input[type="radio"]:checked, input[type="radio"]:focus{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    background-image:none;
}
input[type="checkbox"]:checked{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}


#price-range {
    position:relative;
    margin: 10px 0;
}

.ui-slider-horizontal {
    height: 6px;
    background-color: #ddd;
}

.ui-slider-handle {
    display:inline-block;
    width: 12px;
    height: 12px;
    position:absolute;
    border: 1px solid var(--primary-color) ;
    border-radius: 100%;
    top:-3px;
    background-color: #fff;
}

.ui-slider-range {
    height: 6px;
    position:relative;
    background-color: var(--primary-color);
}


/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
   

}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    #footer-create-add-button{
        display: none !important;
            }
    .logo-desktop {
        display: block;
    }
    .logo-mobile {
        display: none;
    }
    #header-categories-button-button-img {
    }
    .header-categories-button-button-span {
        display: none;
    }
    #header-filter span {
        display: none;
    }
    #header-filter {
        margin-right: 0;
        flex: 1;
    }
    #header-filter button {
        border: 1px solid var(--line-color);
        padding-left: 12px;
        padding-right: 12px;
    }
    #header-filter button img {
        margin-right: 0;
    }
    .header-guest-user-btn span  {
        display: none;
    }
    .header-guest-user-btn {
        border: 1px solid var(--line-color);
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-guest-user-btn img {
        margin-right: 0;
    }
    #header-search {
        flex: 1;
    }
    .header-categories-dropdown-menu-items {
        margin: 48px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 36px; 
        grid-template-areas: 
            ". . . ."
            ". . . ."
            ". . . ."
            ". . . ."
            ". . . ."
            ". . . ."; 
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    #footer-create-add-button{
        display: block !important;
            }
    .logo-desktop {
        display: block;
    }
    .logo-mobile {
        display: none;
    }
    #header-categories-button-button-img {
    }
    .header-categories-button-button-span {
        display: none;
    }
    #header-search-icon-mobile {
        display: flex;
    }
    #header-search form {
        display: none;
    }
    #header-filter span {
        display: none;
    }
    #header-filter {
        margin-right: 0;
        flex: 1;
    }
    #header-filter button {
        border: 1px solid var(--line-color);
        padding-left: 12px;
        padding-right: 12px;
    }
    #header-filter button img {
        margin-right: 0;
    }
    .header-guest-user-btn span  {
        display: none;
    }
    #footer-create-add-button span {
        display: block;
    }
    
    #footer-create-add-button a {
        border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    text-decoration: none;
    width: 100%;
    position: fixed;
   
    bottom: 0;
    
    z-index: 100;
    }
    .footer-create-add-button-img {
        border-right: none;
        margin-left: 0px;
    }
    #header-create-add-button span {
        display: none;
    }
    
    #header-create-add-button a {
        display: none;
        width: 48px;
        border-right: none;
    }
    .header-create-add-button-img {
        border-right: none;
        margin-left: 0px;
    }
    .header-guest-user-btn {
        border: 1px solid var(--line-color);
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-guest-user-btn img {
        margin-right: 0;
    }
    #header-search {
        flex: 1;
    }
    #header-filter {
        display: none;
    }
    .header-categories-dropdown-menu-items {
        margin: 48px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 36px; 
        grid-template-areas: 
            ". . ."
            ". . ."
            ". . ."
            ". . ."
            ". . ."
            ". . ."; 
    }
    .footer-copyright-content {
        height: auto;
        display: block;
        width: auto;
        text-align: center;
    }
    .footer-copyright-text {
        text-align: center;
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
        padding-top: 24px;
    }
    .footer-links {
        display: flex;
        height: auto;
        padding-bottom: 24px;
        padding-top: 12px;
        justify-content: center;
    }
    .footer-links ul {
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
        height: auto;
        column-gap: 12px;
        
    }
    .footer-links ul li a {
        margin: 0;
        
    }

    .offer_image {
        /* height: 260px; */
        /* width: 100%; */
        border-radius: 10px 10px 0 0;
    }
     .offer_title h2{
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .offer_category{
        margin-top: -10px;
        height: 36px;
        padding-top: 4px;
        column-gap: 8px;
    }
    .offer_preposition{
        height: 66px;
    }
    .offer_localisation{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .offer_price{
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 6px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    #footer-create-add-button{
        display: block !important;
            }
    #main-header{
        position: fixed;
    background-color: white;
    height: 76px;
    top: 0;
    width: 103%;
    z-index: 100;
    display: flex;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    padding-left: 24px;
    padding-right: 24px;
    }
    .logo-desktop {
        display: none;
    }
    .logo-mobile {
        display: block;
    }
    #header-categories-button-button-img {
    }
    .header-categories-button-button-span {
        display: none;
    }
    #header-search-icon-mobile {
        display: flex;
    }
    #header-search form {
        display: none;
    }
    #header-filter span {
        display: none;
    }
    #header-filter {
        margin-right: 0;
        flex: 1;
    }
    #header-filter button {
        border: 1px solid var(--line-color);
        padding-left: 12px;
        padding-right: 12px;
    }
    #header-filter button img {
        margin-right: 0;
    }
    .header-guest-user-btn span  {
        display: none;
    }
    #footer-create-add-button span {
        display: block;
    }
    
    #footer-create-add-button a {
        border-radius: 4px;
        border: 1px solid var(--primary-color);
        background: var(--primary-color);
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        text-decoration: none;
        width: 100%;
        position: fixed;
       
        bottom: 0;
        
        z-index: 100;
    }
    .footer-create-add-button-img {
        border-right: none;
        margin-left: 0px;
    }
    #header-create-add-button span {
        display: none;
    }
    
    #header-create-add-button a {
        display: none;
        width: 48px;
        border-right: none;
    }
    .header-create-add-button-img {
        border-right: none;
        margin-left: 0px;
    }
    .header-guest-user-btn {
        border: 1px solid var(--line-color);
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-guest-user-btn img {
        margin-right: 0;
    }
    #header-search {
        flex: 1;
    }
    #header-filter {
        display: none;
    }
    .header-categories-dropdown-menu-items {
        margin: 48px;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 36px; 
        grid-template-areas: 
            ". ."
            ". ."
            ". ."
            ". ."
            ". ."
            ". ."; 
    }
    .header-filter-dropdown-menu-items {
        margin: 8px;
        /* /* display: grid;  */
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 36px; 
        grid-template-areas: 
            ". ."
            ". ."
            ". ."
            ". ."
            ". ."
            ". .";  */
    }
    .header-search-dropdown-menu-items {
        margin: 8px;
        display: grid; 
        /* grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 36px; 
        grid-template-areas: 
            ". ."
            ". ."
            ". ."
            ". ."
            ". ."
            ". .";  */
    }
    .footer-content-infos {
        margin-right: 0px;
        margin-bottom: 24px;
    }
    .footer-copyright-content {
        height: auto;
        display: block;
        width: auto;
        
    }
    .footer-copyright-text {
        text-align: center;
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
        padding-top: 24px;
    }
    .footer-links {
        display: flex;
        height: auto;
        padding-bottom: 24px;
        padding-top: 12px;
    }
    .footer-links ul {
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
        height: auto;
        column-gap: 12px;
        
    }
    .footer-links ul li a {
        margin: 0;
        
    }

    .offer_image {
        /* height: 260px; */
        /* width: 100%; */
        border-radius: 10px 10px 0 0;
    }
     .offer_title h2{
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .offer_category{
        margin-top: -10px;
        height: 36px;
        padding-top: 4px;
        column-gap: 8px;
    }
    .offer_preposition{
        height: 66px;
    }
    .offer_localisation{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .offer_price{
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 6px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    #footer-create-add-button{
        display: block !important;
            }
    #main-header{
        position: fixed;
    background-color: white;
    height: 76px;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    padding-left: 24px;
    padding-right: 24px;
    }
    .logo-desktop {
        display: none;
    }
    .logo-mobile {
        display: block;
        min-width: 20px;
    }
    #header-categories-button-button-img {
    }
    .header-categories-button-button-span {
        display: none;
    }
    #header-search-icon-mobile {
        display: flex;
    }
    #header-search form {
        display: none;
    }
    #header-filter span {
        display: none;
    }
    #header-filter {
        margin-right: 0;
        flex: 1;
    }
    #header-filter button {
        border: 1px solid var(--line-color);
        padding-left: 12px;
        padding-right: 12px;
    }
    #header-filter button img {
        margin-right: 0;
    }
    .header-guest-user-btn span  {
        display: none;
    }
    #footer-create-add-button span {
        display: block;
    }
    
    #footer-create-add-button a {
        border-radius: 4px;
        border: 1px solid var(--primary-color);
        background: var(--primary-color);
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        text-decoration: none;
        width: 100%;
        position: fixed;
       
        bottom: 0;
        
        z-index: 100;
    }
    .footer-create-add-button-img {
        border-right: none;
        margin-left: 0px;
    }
    #header-create-add-button span {
        display: none;
    }
    
    #header-create-add-button a {
        display: none;
        width: 48px;
        border-right: none;
    }
    .header-create-add-button-img {
        border-right: none;
        margin-left: 0px;
    }
    .header-guest-user-btn {
        border: 1px solid var(--line-color);
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-guest-user-btn img {
        margin-right: 0;
    }
    #header-search {
        flex: 1;
    }
    #header-filter {
        display: none;
    }
    .header-categories-dropdown-menu-items {
        margin: 48px;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 36px; 
        grid-template-areas: 
            "."
            "."
            "."
            "."
            "."
            "."; 
    }
   
    #header-contest-icon {
        display: none;
    }
    .footer-content-infos {
        margin-right: 0px;
        margin-bottom: 24px;
    }
    .footer-content {
        padding-left: 24px;
        padding-right: 24px;
    }
    .footer-copyright {

    }
    .footer-copyright-content {
        height: auto;
        display: block;
        width: auto;
        
    }
    .footer-copyright-text {
        text-align: center;
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
        padding-top: 24px;
    }
    .footer-links {
        display: flex;
        height: auto;
        padding-bottom: 24px;
        padding-top: 12px;
    }
    .footer-links ul {
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
        height: auto;
        column-gap: 12px;
        
    }
    .footer-links ul li a {
        margin: 0;
        
    }
    /* .offer_list_card {
        flex-direction: column;
    } */
    .offer_image {
        /* height: 260px; */
        /* width: 100%; */
        border-radius: 10px 10px 0 0;
    }
     .offer_title h2{
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .offer_category{
        margin-top: -10px;
        height: 36px;
        padding-top: 4px;
        column-gap: 8px;
    }
    .offer_preposition{
        height: 66px;
    }
    .offer_localisation{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .offer_price{
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 6px;
    }
   
}



@media (max-width: 338px) {
    .logo-mobile {
        display: none;
    }}